* { margin: 0; padding: 0; }

html, body {
  background: #333;
}
canvas {
  display: block;
}
#info {
	display: none;
	position: absolute;
	top: 16px;
	left: 16px;
	border: 1px solid #609;
	background: #6098;
	color: #fc0;
	text-shadow: 2px 2px 0px #000, 4px 4px 0px #000;
	font: bold 16px/28px sans-serif;
	padding: 16px;
	width: 440px;
}

#help {
}

#help p {
}

#help b {
	color: #f80;
	padding-right: 24px;
}

#stats {
  margin: 16px 0 0 0;
  padding: 8px;
  background: #0008;
  font: 16px/28px monospace;
  color: #906;
}