* { margin: 0; padding: 0; }

html, body { 
  background: #000; 
}

#container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #024;
}

#view {
  display: block;
  width: 100vmin;
}

#help {
  position: fixed; top: 12px; left: 12px;
  font: bold 18px/24px Arial, sans-serif;
  color: #000;
  opacity: 0.5;
}

#info {
  /*display: none;*/
  position: fixed; bottom: 0; left: 0;
  font: bold 12px/16px monospace;
  color: #306;
  background: #ffc9;
  white-space: pre-wrap;
  padding: 0.5vw;
}
