---
---

@import "{{ site.theme }}";

body {
    font: 14px/1.5 sans-serif;
    color:#000;
    background: #f63;
}

.wrapper {
    background: #ffd;
    border-radius: 8px;
    box-shadow: #000 12px 12px 0px;
}

td { vertical-align: top; }
