---
---

@import "{{ site.theme }}";

body {
    padding:10px 0;
    font: 14px/1.5 sans-serif;
    color:#000;
    background: #f63;
}

.wrapper {
    background: #ffd;
    box-shadow: rgba(0,0,0,0.3) 12px 12px 0px;
}

td { vertical-align: top; }

blockquote {
    font-family: serif;
}

